# This is the user-modifiable configuration file. Unless you're unlucky and
# your C compiler isn't supported, this is all you need to touch in order to
# configure mushspace.
#
# See below for individual settings and what they do. This file is split into
# two sections: "build flavour" and "mushspace configuration". The former
# concerns things like compiler settings whereas the latter is about what
# functionality should be enabled in the mushspace.
#
# Any settings marked "Boolean" must be set precisely to "y" or "n".

######## BUILD FLAVOUR

# The kind of C compiler used. This determines only which file in the
# tup/compilers directory is used.
#
# For example, if you use GCC, this should be set to "gcc", thus causing the
# settings in tup/compilers/gcc.tup to be applied.
#
# To specify the compiler path and flags, modify the tup/compilers files or
# create a new one.
CONFIG_CC_FLAVOUR=gcc

# Boolean: whether the code should be optimized.
CONFIG_OPTIMIZE=n

# Boolean: whether debugging information should be generated.
CONFIG_DEBUG=y

# Boolean: whether a native build should be made. That is, optimizations used
# that only apply to this platform.
#
# This may cause the resulting binaries to not function on other systems.
CONFIG_NATIVE=y

# Boolean: whether all assertions should be disabled. If you're feeling
# worried, you may not want to enable this even for optimized builds: in most
# cases, the performance impact shouldn't be too high.
CONFIG_DISABLE_ALL_ASSERTIONS=n

######## MUSHSPACE CONFIGURATION

# Booleans: the topologies that should be supported. At least one should be
# defined to 'y' or you won't end up with any mushspace at all!
#
# Unefunge:   one-dimensional Funge-98.
# Befunge:    two-dimensional Funge-98. (Most common Funge-98 by far!)
# Trefunge: three-dimensional Funge-98.
#
# And lastly, Befunge-93, the most common Funge, but not really the purpose of
# this library.
CONFIG_UNEFUNGE=y
CONFIG_BEFUNGE=y
CONFIG_TREFUNGE=y
CONFIG_BEFUNGE_93=y

# The size of the 'mushcell' data type: the storage size of one Funge-Space
# cell. There are three allowed settings:
#
#  0 - use the C 'long' type, whatever its size is.
# 32 - use a 32-bit cell.
# 64 - use a 64-bit cell.
#
# Note that these only affect the Funge-98 builds: Befunge-93 always uses an
# 8-bit cell size.
CONFIG_CELL_SIZE=0

# Boolean: include extended support for infinite loop detection?
#
# Has some runtime cost.
CONFIG_INFINITE_LOOP_DETECTION=y

# Boolean: perform expensive debugging at runtime?
#
# DO NOT ENABLE EXCEPT FOR TESTING PURPOSES. For example, for mushcursor this
# has a /huge/ runtime cost, making it slower than using mushspace directly!
CONFIG_EXPENSIVE_DEBUGGING=y
